.main {
  color:black;
  text-align:left;
  margin:1rem;
  background:white;
  padding:2rem;
  box-shadow: 1px 1px 13px 0px #0000005c;
  border-top-left-radius:0.5rem;
}
.subheading {
  font-size: 1.25rem;
}
#about_profile {
  width:100%;
  height:auto;
  /* margin:0 -1rem -4rem -2rem; */
}
.image_container {
    margin:-2rem -2rem 0rem -2rem;

}