.main {
  text-align:left;
}

.profile {
  width: 100%;
  height: auto;
  /* border-radius:50%; */
}

.subheading {
  margin: 0rem 0rem;
}

.hero {
  /* background:yellow; */
}
.contacts {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
}
.contacts .btn {
  margin-top:1rem;
}
@media (min-width: 640px) {
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 1024px) {
  
}
@media (min-width: 1280px) {
  
}
@media (min-width: 1536px) {
  
}